body {
  background-image:    url(https://thumbs.gfycat.com/HugeGenerousBlackmamba-size_restricted.gif
 );   
}

h1 {font-size: 38px;color: white} 
h2 {font-size: 38px;color: white} 
h3 {font-size: 30px;color: white}
p{color:white;font-size:20px}

