body {
  background-image:    url(https://78.media.tumblr.com/tumblr_lpqrpgix4M1qcr7fqo1_500.gif
 );   
}

h1 {font-size: 38px;color: black} 
h2 {font-size: 38px;color: black} 
h3 {font-size: 30px;color: black}
p{color:black;font-size:20px}
