body {
  background-image:    url(https://discourse-cdn-sjc1.com/business4/uploads/prezi/original/1X/b9b97a1e8bae4c9e6cf6e492e7254717a064ec62.gif
 );   
}

h1 {font-size: 38px;color: white} 
h2 {font-size: 38px;color: white} 
h3 {font-size: 30px;color: white}
p{color:white;font-size:20px}


