<img src= "http://blackartblog.blackartdepot.com/wp-content/gallery/modernafrica/nairobi/nairobi-kenya-sunset.jpg">
<form method="POST">
      <button type="submit">The next stop is...</button>
    </form>