<img src= "http://blackartblog.blackartdepot.com/wp-content/gallery/modernafrica/nairobi/nairobi-kenya-sunset.jpg">

<center> <h1> Africa Continent</h1> </center> 
<center> <img src= "http://blackartblog.blackartdepot.com/wp-content/gallery/modernafrica/nairobi/nairobi-kenya-sunset.jpg" height="250" width="250">
  <h2> Kenya </h2> 
  <h3> Facts about Kenya </h3> 
  <p> 
Location- It’s a country in east Africa continent 
Population-  48.46 million (2016) 
Language- Swahili, English 
Religion- Christianity, Islam, Hinduism, Sikhism, Parsees, and Bahais.
Cultural occasion- East African Arts Festival, International Camel Derby and Festival, Jamhuri Day. 
Places to visit- Masai Mara, Samburu, lake Naivasha, Tsavo . 
Food you need to try- irio, Pilau, Matoke, Mandazi. 
Famous icon in Kenya- Catherine Ndereba.  
  </p> 


<form method="POST">
      <button type="submit">The next stop is...</button>
    </form>