
<link rel= "stylesheet" href="css/africa.css">
<center> <h1> Africa Continent</h1> </center> 
<center> <img src= "http://blackartblog.blackartdepot.com/wp-content/gallery/modernafrica/nairobi/nairobi-kenya-sunset.jpg" height="250" width="250">
  <h2> Kenya </h2> 
  <h3> Facts about Kenya </h3> 
  <p> 
Location- It’s a country in east Africa continent.
Population-Over 51,112,287! That’s higher than Canada’s population!
Language- Swahili, English 
Religion- Religion ranges from Christianity, Islam, Hindus, Sikhs, Parsees, to Bahais. How diverse!
Cultural occasion- Traditions such as the East African Arts Festival, the biggest festival in the region! It has competitors and spectators from around the world. It displays art, music, theater, music, fashion, literature, architecture, and sculptures. Other traditions are the International Camel Derby and Jamhuri Day. 
Places to visit- If you love animals such as giraffes and elephants, then Masai Mara is for you! See elephants, rhinos, and lions. Secondly, the freshwater Lake Naivasha, is clear blue and allows you to boat ride on it. (Beware of the hippos, some can get testy!) 
Food you need to try-  Traditional African food include irio, Pilau, Matoke, Mandazi. Meat is normally used in many foods.
Famous icon in Kenya- Kenyan marathon runner Catherine Ndereba is an icon!
  </p> 


<form method="POST" action="/Europe">
      <center> <button type="submit">The next stop is...</button></center> 
    </form>