<img src= "https://nit.pt/wp-content/uploads/2017/09/0420a206ae8b77b60f314a33b38c875a.jpg">
<p> Facts about China: 
Loation- Asia
Population- 1,415,045,928
Language-Mandarin, Cantonese,  
Religion- muli-religious
Cultural occasion- Chinese New Year, Lantern Festival, Qingming Festival, Dragon Boat Festivals
Places to visit- 
Great wall of China
Terracotta Army
Forbidden City
Food you need to try- 
Sweet and Sour pork
Ma po Tufo
Wonton soup
</p>