<img src= "https://nit.pt/wp-content/uploads/2017/09/0420a206ae8b77b60f314a33b38c875a.jpg">
<center> <h1> Asia Continent</h1> </center> 

<p> 
Location- Asia
Population- Beijing is the largest city in China, with a population of over 1,415,045,928  people!
Language-The two main spoken languages are Mandarin and Cantonese! néih hóu
Religion- muli-religious
Cultural occasion- Lantern Festival, Dragon Boat Festivals
Places to visit- 
Great wall of China
Terracotta Army
Forbidden City
Food you need to try- Do you like tofu? If yes, then Ma po Tofu is for you. Consisting of tofu set in spicy sauce, usually a thin, oily, and bright red suspension, based on douban and douchi along with minced meat, typically with pork or beef.
Ma po Tofu
Sweet and Sour pork
Famous Icon- You’ve watched the classic action movie with Jackie Chan right? Well, he’s from Hong Kong!
</p>
<form method="POST" action="/Africa">
      <button type="submit">The next stop is...</button>
    </form>