<link rel= "stylesheet" href="css/asia.css">
<center> <img src= "https://nit.pt/wp-content/uploads/2017/09/0420a206ae8b77b60f314a33b38c875a.jpg" height="250" width="250"> </center>
<center> <h1> Asia Continent</h1> </center> 
<h2>China</h2>
<h3>Facts about China</h3>
<h4> Location </h3> 
<p> China is a populous nation in East Asia whose vast landscape encompasses grassland, desert, mountains, lakes, rivers and more than 14,000km of coastline. </p> 
<h4> Population </h4>
<p> Beijing is the largest city in China, with a population of over 1,415,045,928  people! </p> 
<h4> Language </h4>
<p> The two main spoken languages are Mandarin and Cantonese! néih hóu </p>
<h4> Religion </h4>
<p> China is multi-religious </p>
<h4> Cultural occasion</h4>
<p> 1. Lantern Festival: The Lantern Festival or the Spring Lantern Festival, is a Chinese festival celebrated on the fifteenth day of the first month in the  Lunisolar Chinese Calendar. Usually falling in February or early March on the Gregorian Calendar. It marks the final day of the traditional Chinese New Year celebrations. During the Lantern Festival, children go out at night carrying paper lanterns and solve riddles on the lanterns. In ancient times, the lanterns were fairly simple, and only the emperor and noblemen had large ornate ones. In modern times, lanterns have been embellished with many complex designs. For example, lanterns are now often made in the shape of animals. The lanterns can symbolize the people letting go of their past selves and getting new ones, which they will let go of the next year. The lanterns are almost always red to symbolize good fortune.</p>
	<p> Dragon Boat Festivals: The Duanwu Festival, also often known as the Dragon Boat Festival, is a traditional holiday originating in China, occurring near the summer solstice. It is also known as Zhongxiao Festival, commemorating fealty and filial piety. The festival now occurs on the 5th day of the 5th month of the traditional Chinese calendar, which is the source of the festival's alternative name, the Double Fifth Festival. Three of the most widespread activities conducted during the Duanwu Festival are eating (and preparing) zongzi, drinking realgar wine, and racing dragon boats. Dragon boat racing has a rich history of ancient ceremonial and ritualistic traditions, which originated in southern central China more than 2500 years ago. The legend starts with the story of Qu Yuan, who was a minister in one of the Warring State governments, Chu. He was slandered by jealous government officials and banished by king. Out of disappointment in the Chu monarch, he drowned himself into the Miluo river. The common people rushed to the water and tried to recover his body. In commemoration of Qu Yuan, people hold dragon boat races yearly on the day of his death according to the legend. They also scattered rice into the water to feed the fish, to prevent them from eating Qu Yuan's body, which is one of the origins of zongzi. A notable part of celebrating Duanwu is making and eating zongzi with other family members. People traditionally wrap zongzi in leaves of reed, lotus or banana which give a special aroma and flavor to the sticky rice and fillings. Choices of fillings vary depending on regions. Northern regions in China prefer sweet or dessert-styled zongzi, with bean paste, dates and nuts as fillings. Southern regions in China prefer savory zongzi, with a variety of fillings including marinated pork belly, sausage and salted duck eggs. Zongzi are considered as a symbol of luck. In some regions of China, parents braid silk threads of 5 colors and put them on the their children's wrists, on the day of Duanwu. People believe that this will help keep bad spirits and disease away. </p>	
<h4> Places to visit </h4>
<p> Heard of the army made of clay? Well the Terracotta Army has 8,000 soldiers, 130 chariots with 520 horses and 150 cavalry horses! The Forbidden City is a palace in central Beijing. The former Chinese imperial palace from the Ming dynasty to the ending of the Qing dynasty,  now is the Palace Museum.Other places to visit are Great wall of China, Terracotta Army, Forbidden City</p>
<h4> Food you need to try </h4>
<p> Do you like tofu? If yes, then Ma po Tofu is for you. Consisting of tofu set in spicy sauce, usually a thin, oily, and bright red suspension, based on douban and douchi along with minced meat, typically with pork or beef. </p>
<h4> Famous Icon </h4>
<p> You’ve watched the classic action movie, "The Karate Kid", with Jackie Chan right? Well, he’s from Hong Kong! </p>
<img src= "https://m.media-amazon.com/images/M/MV5BMTk4MDM0MDUzM15BMl5BanBnXkFtZTcwOTI4MzU1Mw@@._V1_UY317_CR7,0,214,317_AL_.jpg"> 
<link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet'>
<style>
body {
    font-family: 'Asap';font-size: 22px;
}
</style>
<form method="POST" action="/Africa">
      <center> <button type="submit">The next stop is...</button></center> 
    </form>