<img src= "https://nit.pt/wp-content/uploads/2017/09/0420a206ae8b77b60f314a33b38c875a.jpg">
<p> Facts about China: 
Location- Asia
Beijing is the largest city in China, with a population of over 1,415,045,928  people!
Language-Mandarin, Cantonese,  
Religion- muli-religious
Religion- muli-religious
Ma po Tufo
Wonton soup
Cultural occasion- Chinese New Year, Lantern Festival, Qingming Festival, Dragon Boat Festivals
Places to visit- 
Great wall of China
Terracotta Army
Forbidden City
Food you need to try- 
Sweet and Sour pork
Famous Icon- Jackie Chan
</p>