<link rel= "stylesheet" href="css/australia.css">
<center> <img src= "https://www.telegraph.co.uk/content/dam/Travel/Destinations/Oceania/Australia/Melbourne/melbourne%20lead-xlarge.jpg" height="250" width="250"></center> 
<center> <h1> Australia Continent</h1> </center> 
<h2>Melbourne</h2>
<h3>Facts about Melbourne</h3>
<p> 
Location- Australia
Population- over 4.8 million
Religion- Australia has many religions, so you can live there if you want.
Cultural occasion-  The Melbourne Festival runs across 17 days in October each year featuring a range of performances from the arts, music, circus and dance.
Melbourne International Arts Festival:  Melbourne International Arts Festival (formerly Melbourne Festival) is a major international arts festival which  runs across 17 days in October each year featuring a range of performances from the arts, music, circus and dance. 

Royal Melbourne Oktoberfest: 

Since the early 1800s, Oktoberfest has been the world's largest Volksfest (beer festival), and to celebrate over 200 years of fun, the Royal Melbourne Oktoberfest will see lederhosen clad party-goers shouting 'prost' from the top of their lungs once again in 2018. Taking place at the Royal Exhibition Building, this incredible heritage-listed building rivals the great Bavarian beer halls of Germany and plays host to the most traditional Oktoberfest event Melbourne has seen, with German oompah bands, folk dancing, on-stage competitions and an atmosphere that is guaranteed to be electric. Royal Melbourne Oktoberfest boasts a drinks list that will have even the most avid connoisseur licking their lips with more than 50 different imported German beers, plus cider, wine, schnapps and much more. To tantalise your taste buds, the event features numerous German caterers serving up traditional meals such as pork hocks, schnitzels, bratwurst and other German sausages, brathendl (roast chickens), pretzels and German pastries.
Other places to visit- Did you know that Melbourne is one of the most liveable cities in the world? Federation Square, Eureka tower, and Docklands are just a few of the cities breathtaking sites. Go see  them, it will get you a nice photo!
Other foods you need to try- Some foods you can try are Ricotta Hotcakes at Top Paddock and Vegemite. And if you have a sweet tooth, you should have Tim Tams (it goes good with hot chocolate!)
</p>
<link href='https://fonts.googleapis.com/css?family=Rajdhani' rel='stylesheet'>
<style>
body {
    font-family: 'Rajdhani';font-size: 22px;
}
</style>
<form method="POST" action="/Asia">
      <center> <button type="submit">The next stop is...</button> </center> 
    </form>