<img src= "https://www.telegraph.co.uk/content/dam/Travel/Destinations/Oceania/Australia/Melbourne/melbourne%20lead-xlarge.jpg">
<p> 
Location- Australia
Population- over 4.8 million
Religion- Australia has many religions, so you can live there if you want.
Cultural occasion-  The Melbourne Festival runs across 17 days in October each year featuring a range of performances from the arts, music, circus and dance.
Places to visit- Did you know that Melbourne is one of the most liveable cities in the world? Federation Square, Eureka tower, and Docklands are just a few of the cities breathtaking sites. Go see  them, it will get you a nice photo!
Foods you need to try- Some foods you can try are Ricotta Hotcakes at Top Paddock and Vegemite. And if you have a sweet tooth, you should have Tim Tams (it goes good with hot chocolate!)
</p>

<form method="POST" action="/Asia">
      <button type="submit">The next stop is...</button>
    </form>