<link rel= "stylesheet" href="css/euro.css">
<center> <h1> Europe Continent</h1> </center> 
<center> <img src= "https://wallpaperstudio10.com/static/wpdb/wallpapers/3840x2160/152010.jpg" height="250" width="250">
  <h2> Belgium </h2> 
  <h3> Facts about Belgium </h3> 
  <p> 
 Location- Europe
Population- Belgium has a growing population of 11, 507, 186
Language- Languages range from French, Dutch and German
Religion- Many countries are diverse, and this country is one of them. 
Cultural occasion- For Binche people, being a part of Carnival de Binche, dancing and having fun together during three days is a family tradition.Saint Nicholas is known as a second Santa.
Places to visit- Bruges is known for its Liquid City, where a blue whale made out of pieces of plastic to show the effect of plastic ending up in the ocean. Trail biking is known to be done in Eifel Nature Park, so if you like biking, head over there!
Food you need to try- Belgian Rice Tarts are common it is a creamy baked rice pudding. Liege Syrup is put on your toast and is made up of evaporated fruits. 
Famous icon in Belgium-Basketball players are from everywhere and Tony Parker is one of them. Luc De Vos was a musician and writer, and was known for being the lead singer of the Dutch-language alternative rock formation Gorki. Fun fact: he voiced VW Bus, from Cars!
  </p> 
<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
<style>
body {
    font-family: 'Didact Gothic';font-size: 22px;
}
</style>
<form method="POST" action="/North_America">
      <center> <button type="submit">The next stop is...</button> </center> 
    </form>
