
<center> <h1> Europe Continent</h1> </center> 
<center> <img src= "https://wallpaperstudio10.com/static/wpdb/wallpapers/3840x2160/152010.jpg" height="250" width="250">
  <h2> Belgium </h2> 
  <h3> Facts about Belgium </h3> 
  <p> 
  Location- Europe
Population- Belgium has a growing population of 11, 507, 186
Language- Languages range from French, Dutch and German
Religion- multi-religious
Cultural occasion- Masked, orange-pelting figures at Carnival de Binche and Saint Nicholas, a second Santa
Places to visit- Bruges, Dinant, Eifel Nature Park, Château de la hulpe
Food you need to try- Fry Snacks, Rice Tart, Liege Syrup
Famous icon in Belgium-Tony Parker, Tom Boonen, Luc De Vos  
  </p> 

<form method="POST" action="/North_America">
      <button type="submit">The next stop is...</button>
    </form>
