<link rel= "stylesheet" href="css/survey.css">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdp3weRzWH7gtVAO8aV0cxRFXL1jPimVFyjyTgym9gjlLqrRA/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


<form method="POST" action="/index">
      <button type="submit">Home</button>
    </form>