<!DOCTYPE html>
<html> 
  <head>
    <link rel= "stylesheet" href="css/style.css">
    <title>
      Welcome to SuitKASE!
    </title> 
  </head>
  <body> 
    <h1> Welcome to your new travel buddy, SuitKASE!</h1>
    <img src= "https://pbs.twimg.com/media/DkqWCUBX0AAutVt.jpg" height="250" width="250">
    <center> <h2> Our Mission Statement:</h2> </center>
    <center> <h3> SuitKASE is a web application designed by some awesome and determined coders in 2 days to help out people, especially from all over the world by giving them a chance to explore countries in each continent without having to move a muscle! Have the world at your fingertips; LITERALLY! The four-letter-word “KASE” stands for the first initals of our creators; Kazi, Alina, Sarah and Emily(our great T.A.). Through this website, you woill be able to find basic cultural information such as language, religion, food, famous natives, places, cultural occasions/holidays etc. that you need to know before visiting a country. You might be wondering; why SuitKASE? We would say because it’s easy and convenient! For example, if you really wanna visit a country, you'll need to know some important qualities about said place. For that, you have to do some research, which can be really hectic, confusing, time consuming, and might lack validity. Here at SuitKASE, we take out the guess work and give you what you need! You just need to click!! Another exciting part about SuitKASE is that it’s completely free and we keep your private information confidential. So what are you waiting for! Let’s get into it! Have fun traveling! 
       </h3>   </center>
    <form method="POST" action="/Australia">
      <button type="submit">Get Started!</button>
      </form>
      <form method="POST" action="/button">
        <button type="Submit"> Subscribe 😊 </button> 
      
      </form>

  
  </body>
</html>

