<!DOCTYPE html>
<html> 
  <head>
    <link rel= "stylesheet" href="css/style.css">
    <title>
       Welcome to SuitKASE!
    </title> 
  </head>
  <body> 
    <h1><center> Welcome to your new travel buddy</center></h1>
    <h1> <center> SuitKASE!</center></h1>
    <center> <img src= "https://pbs.twimg.com/media/DkqWCUBX0AAutVt.jpg" height="250" width="250"> </center>
    <center> <h2> Our Mission Statement:</h2> </center>
    <center> <h3> SuitKASE is a web application to help people explore countries! Have the world at your fingertips; LITERALLY! The K in “KASE” is a play on my Instagram name, Kaiohtea. Through this website, you will be able to find basic cultural information such as language, religion, food, famous natives, places, cultural occasions/holidays etc. that you need to know before visiting a country. You might be wondering; why SuitKASE? We would say because it’s easy and convenient! For example, if you really wanna visit a country, you'll need to know some important qualities about said place. Here at SuitKASE, we take out the guess work and give you what you need! Let’s get into it! Have fun traveling! 
       </h3>   </center>
       <center> <img src= "https://pbs.twimg.com/media/Dkvt0hqXcAAVY4i.jpg"> </center>
       
      
       
       
       <link href='https://fonts.googleapis.com/css?family=Nova Mono' rel='stylesheet'>
<style>
body {
    font-family: 'Nova Mono';font-size: 22px;
}
</style> 
    <form method="POST" action="/Australia">
      <button type="submit">Get Started!</button>
      </form>
      <form method="POST" action="/button">
        <button type="Submit"> Subscribe 😊 </button> 
      
      </form>

  
  </body>
</html>
