<!DOCTYPE html>
<html> 
  <head>
    <link rel= "stylesheet" href="css/style.css">
    <title>
       Welcome to SuitKASE!
    </title> 
  </head>
  <body> 
    <h1><center> Welcome to your new travel buddy</center></h1>
    <h1> <center> SuitKASE!</center></h1>
    <center> <img src= "https://pbs.twimg.com/media/DkqWCUBX0AAutVt.jpg" height="250" width="250"> </center>
    <center> <h2> Our Mission Statement:</h2> </center>
    <center> <h3> SuitKASE is a web application designed by some awesome and determined coders in 2 days to help out people, especially from all over the world by giving them a chance to explore countries in each continent without having to move a muscle! Have the world at your fingertips; LITERALLY! The four-letter-word “KASE” stands for the first initals of our creators; Kazi, Alina, Sarah and Emily(our great T.A.). Through this website, you will be able to find basic cultural information such as language, religion, food, famous natives, places, cultural occasions/holidays etc. that you need to know before visiting a country. You might be wondering; why SuitKASE? We would say because it’s easy and convenient! For example, if you really wanna visit a country, you'll need to know some important qualities about said place. For that, you have to do some research, which can be really hectic, confusing, time consuming, and might lack validity. Here at SuitKASE, we take out the guess work and give you what you need! You just need to click!! Another exciting part about SuitKASE is that it’s completely free and we keep your private information confidential. So what are you waiting for! Let’s get into it! Have fun traveling! 
       </h3>   </center>
       <center> <img src= "https://pbs.twimg.com/media/Dkvt0hqXcAAVY4i.jpg"> </center>
       
       <p> 
       Hi! I am Sarah, one of the founders of SuitKASE. I am a rising sophomore at BSGE. I love italian food and listening to Shawn Mendes. I am very passionate about STEM and love performing. In ten years I hope I can have a successful career in the tech world and get to travel the world (hence the creation of this website!) 
       
       Hi! I am Kazi Nur, also one of the founders of SuitKASE. I am a rising senior at Brooklyn International High School. I love korean food and watching random videos on YouTube. I am a dreamer. I love STEM field so much that I want to have a career related to it. Even though I am not sure yet what exactly in STEM field.
       
       Hiya folks, I am one of the founders of SuitKase. My name is Alina, 13 years old and I am going into my freshman year of high-school. I love Indian food and I love me some fruit-rollups. Robotics is what got me into coding and I enjoy coding robots. 

       </p>
       
       
       
       <link href='https://fonts.googleapis.com/css?family=Nova Mono' rel='stylesheet'>
<style>
body {
    font-family: 'Nova Mono';font-size: 22px;
}
</style> 
    <form method="POST" action="/Australia">
      <button type="submit">Get Started!</button>
      </form>
      <form method="POST" action="/button">
        <button type="Submit"> Subscribe 😊 </button> 
      
      </form>

  
  </body>
</html>
