<!DOCTYPE html>
<html> 
  <head>
    <link rel= "stylesheet" href="css/style.css">
    <title>
      Welcome to SuitKASE!
    </title> 
  </head>
  <body> 
    <h1> Welcome to your new travel buddy, SuitKASE!</h1>
    <img src= "https://pbs.twimg.com/media/DkqWCUBX0AAutVt.jpg" height="300" width="300">
    <center> <h2> Our Mission Statement:</h2> </center>
    <center> <h3> SuitKASE is a web application designed by some awesome and determined coders in 2 days to help out the people especially travelers from all over the world by giving them a chance to explore about every country in each continent in one place. The last four-word “KASE” is named using the first letter of Kazi, Alina, Sarah and Emily( Wonderful T.A.) and added together. Through this website, you would be able to know the basic information such as language, religion, food, famous persons, famous places, cultural occasions/holidays etc. that you need to acknowledge before visiting a country. You might be wondering why suitKASE? We would say because it’s more easy and convenient! For example, if you really wanna visit a country, you need to know some important qualities about that country. For that, you have to research by yourself which is first of all, really hectic and confusing at the same time. It’s also time-consuming when you have to type every single topic in google which necessarily doesn’t guarantee the validity of the information. Here in SuitKASE, we do all the research for you. You just need to click!! This saves a lot of your time and energy. Another exciting part about this website is that it’s completely free and we keep your information confidential. So what are you waiting for! Let’s get into it. All in one! Go click! Go have fun! 
       </h3>   </center>
    <form method="POST" action="/Australia">
      <button type="submit">Get Started!</button>
      </form>
      <form method="POST" action="/button">
        <button type="Submit"> Subscribe 😊 </button> 
      
      </form>

  
  </body>
</html>

