<!DOCTYPE html>
<html> 
  <head>
    <title>
      Welcome to SuitKASE!
    </title> 
  </head>
  <body> 
    <h1> Welcome to your new travel buddy!</h1>
    <img src= "https://pbs.twimg.com/media/DkqWCUBX0AAutVt.jpg">
    <center> <h2> Our Mission Statement:fgcfhvjghcjfhgmhvcxdbfcnbgvmgcfdxcngvcfhdsxcgvh</h2> </center>
    <form method="POST" action="/Australia">
      <button type="submit">Get Started!</button>
      </form>
      <form method="POST" action="/button">
        <button type="Submit"> Subscribe 😊 </button> 
      
      </form>

  
  </body>
</html>

