<link rel= "stylesheet" href="css/na.css">
<center> <h1> North America Continent</h1> </center> 
<center> <img src= "http://www.bestourism.com/img/items/big/733/Toronto-in-Canada_Toronto-Skyline_2904.jpg" height="250" width="250">
  <h2> Canada </h2> 
  <h3> Facts about Canada </h3> 
  <p> 
Location- Canada is in the North America continent. It has the longest street in the world. Yonge Street in Ontario starts at Lake Ontario, and runs north through Ontario to the Minnesota border, a distance of more than 2,000 km.
Population- 36,995,918
Language- English and French 
Religion- Canada is very diverse, with religions ranging from Christianity,  Islam, Judaism, Buddhism, Hinduism, to Sikhism.
Cultural occasion- Fireworks, who doesn’t like them? Well, the Montreal Fireworks Festival is the biggest fireworks competition in the world, and this is one to not miss. Another tradition is the Montreal International Jazz Festival, and you might want to go to this one if you love music ‘cause it has more than 2 million attendees each year! 
Cultural occasion- Fireworks, who doesn’t like them? Well, the Montreal Fireworks Festival is the biggest fireworks competition in the world, and this is one to not miss. It has been held yearly in LA Ronde Over the Dolphins lake, since 1985, and is named after its main sponsor, Loto-Quebec. It hosts an estimated 3 million spectators each year, with approximately 6,000 fireworks set off during each show.

Another tradition is the Montreal International Jazz Festival, and you might want to go to this one if you love music because it has more than 2 million attendees each year!  It holds the 2004 Guinness World Record  as the world's largest jazz festival. The festival takes place at 20 different stages, which include free outdoor stages and indoor concert halls. 
Other places to visit- You’re in Canada, you want to see around, well the CN tower has an amazing view! And if you’re an adventurous one, try the edge walk! And if you love ocean life, then go to Ripley's aquarium of canada. 
Food you need to try- You want Canadian food? Well we’ve got Poutine, Bannock, Butter tarts, Montreal-style Smoked Meat, and Beavertails. Choose either one, and you’ll be dying for more!
Famous icon in Canada- Some of the most famous artists from our generation are actually from Canada! SHAWN PETER RAUL MENDES, Drake and Justin Bieber are a few.
  </p> 

<link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet'>
<style>
body {
    font-family: 'Khand';font-size: 22px;
}
</style>

<form method="POST" action="/South_America">
      <center> <button type="submit">The next stop is...</button>  </center>
    </form>