
<center> <h1> North America Continent</h1> </center> 
<center> <img src= "http://www.bestourism.com/img/items/big/733/Toronto-in-Canada_Toronto-Skyline_2904.jpg" height="250" width="250">
  <h2> Canada </h2> 
  <h3> Facts about Canada </h3> 
  <p> 
Location- Canada is in North America continent. It is home to the longest street in the world. Yonge Street in Ontario starts at Lake Ontario, and runs north through Ontario to the Minnesota border, a distance of almost 2,000 km.
Population- 36.29 Million (2016) 
Language- English and French 
Religion- Christianity,  Islam, Judaism, Buddhism, Hinduism, and Sikhism.
Cultural occasion- Montreal Fireworks Festival, Montreal International Jazz Festival
Places to visit- Jasper National Park, Banff, Prince Edward Island, CN tower, Ripley's aquarium of canada 
Food you need to try- Poutine, Bannock, Butter tarts, Montreal-style Smoked Meat,  Beavertails. Famous icon in Canada- SHAWN PETER RAUL MENDES, Drake, Justin Bieber
  </p> 



<form method="POST" action="/South_America">
      <button type="submit">The next stop is...</button>
    </form>