

<center> <h1> South America Continent</h1> </center> 
<center> <img src= "https://www.pandotrip.com/wp-content/uploads/2016/02/Rio3-1-980x699.jpg" height="250" width="250">
  <h2> Brazil </h2> 
  <h3> Facts about Brazil </h3> 
  <p> 
  Location- Brazil is in South America, the beautiful skyline is one to not miss.
Population- The booming country of Brazil has a population of 211,069,355, which gets bigger as we speak.
Language- The main language of this country, is Portuguese. 
Religion- Brazil in fact, has the largest number of Roman Catholics in the world! 
Cultural occasion- Famous traditions of Brazil are Brazil’s Carnaval, Tiradentes Day, June Festivals, Independence Day! Each tradition includes music, dance, and the arts!
Places to visit- The most breathtaking views found in Brazil are those of Rio de Janeiro, Fortaleza,  Porto de Galinhas, Lencois Maranhenses National Park
Food you need to try- Food. Of course you need to eat and why not eat food like Barbeque Meat, Moqueca, Cachaça, Brigadeiros to get the full experience! 
Famous icons- Football players are known to be famous icons in this ravishing country. Players such as  Neymar, Ronaldinho, Philippe Coutinho are some of the best in Brazil and are known throughout the  country.
 </p> 



<form method="POST" action="/form">
      <button type="submit">Last stop!</button>
    </form>
